body {
  color: #797979;
  /*background: #f1f2f7;*/
  font-family: 'Open Sans', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size:14px;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background: url(../img/bg9.jpg);
  background-size: cover;
}
.site-footer {
  background: #548C76;
  color: #fff;
  padding: 5px 0;
}