/**----------------------Frame css------------------------------------**/
.TopFram {
    height: 35px;
    overflow: hidden;
    z-index: 1;
    position:relative;}
.MiddleFram {
    bottom: 0px;
    right: 0;
    position:absolute;
    left: 0;
    top: 35px;
    z-index: 0;}
.MiddleFram360 {
    bottom: 0px;
    right: 0;
    position:absolute;
    overflow: auto;
    left: 0;
    top: 35px;
    z-index: 0;}
.BottomFram {
    height: 1px;
    overflow: hidden;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 1}
.FramArea {
    border: none;
    bottom: 0;
    display: block;
    height: auto;
    position:relative;
    top: 0;
    width: 100%;
    height: 100%;}
.LeftFram {
    display: block;
    float: left;
    position: relative;
    width: 210px;
    height: 100%;
    overflow: auto;
    z-index: 0;
    margin: 0 4px 0 0;
    padding-right: 2px;}
.SplitFram{
    background-color:#E6E8EB;
    display: block;
    float: left;
    position: relative;
    width: 1px;
    height: 100%;
    overflow: auto;
    z-index: 0;
    margin: 0 4px 0 0;
    padding-right: 2px;}
.RightFram {
    overflow: auto;
    height: 100%;
    border: 0 none;
    position: relative;
    z-index: 0;
    margin: 0;
    padding:0px 10px 0px 10px;}
/**----------------------Frame css end-------------------------------**/